<!DOCTYPE html>
<html lang="en" ng-app="hack" >

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/ico" href="img/logo.png">

  <title>UMKC Virtual Hackathon Spring 2020</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="css/creative.css" rel="stylesheet">
   <link rel="stylesheet" href="css/commonStyles.css">

 </head>

 <body id="page-top" ng-controller="events">

 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #fff;" id="mainNav">
   <div class="container">
     <!--  <a class="navbar-brand js-scroll-trigger" href="#page-top">UMKC Hackathon</a> -->
      <img class="navbar-brand js-scroll-trigger" style="margin-right: 0px;" src="img/UMKC_logo.png" width="100" height="70"/></a>

     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#about">About</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#rules">Rules</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#register">Registration</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#eventinfo">Info</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#submission">Submission</a>
         </li>
           <!-- <li class="nav-item">
               <a class="nav-link js-scroll-trigger" href="#quiz">Quiz</a>
           </li> -->
         <!-- <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#Dashboard" ng-click="typedata()">Dashboard</a>
         </li> -->
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#judges">Judges</a>
         </li>
         <li class="nav-item">
             <a class="nav-link js-scroll-trigger" href="#sponsors">Sponsors</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#Schedule">Schedule</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#usecases">Usecases</a>
         </li>
         <li class="nav-item">
           <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
         </li>
       </ul>
     </div>
   </div>
 </nav>


 <header>
   <div>
       <div class="w3-display-container">
         <img class="mySlides" src="img/firstprize.JPG" style="width: 100%; z-index: 99">
         <img class="mySlides" src="img/second.JPG" style="width: 100%; z-index: 99">
         <img class="mySlides" src="img/third.JPG" style="width: 100%; z-index: 99">
         <img class="mySlides" src="img/audiencechoice.JPG" style="width: 100%; z-index: 99">
         <img class="mySlides" src="img/appreciation.JPG" style="width: 100%; z-index: 99">
         <img class="mySlides" src="img/Quizwinners.JPG" style="width:100%; z-index: 99">




         <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-middle" style="width:100%">

         <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
         <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
         </div>
         <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">

           <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
           <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
           <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
           <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
           <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
           <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
           <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>


         </div>
       </div>
     <script>
         var slideIndex = 1;
         showDivs(slideIndex);
         function plusDivs(n) {
             showDivs(slideIndex += n);
         }
         function currentDiv(n) {
             showDivs(slideIndex = n);
         }
         function showDivs(n) {
             var i;
             var x = document.getElementsByClassName("mySlides");
             var dots = document.getElementsByClassName("demo");
             if (n > x.length) {slideIndex = 1}
             if (n < 1) {slideIndex = x.length}
             for (i = 0; i < x.length; i++) {
                 x[i].style.display = "none";
             }
             for (i = 0; i < dots.length; i++) {
                 dots[i].className = dots[i].className.replace(" w3-white", "");
             }
             x[slideIndex-1].style.display = "block";
             dots[slideIndex-1].className += " w3-white";
         }
     </script>
   </div>
 </header>



 <!-- <header class="masthead text-center text-white d-flex" background-repeat: "no-repeat"; background-size: "auto">
   <div class="container my-auto">
     <div class="row">
       <div class="col-lg-10 mx-auto">
         <h1 class="text-uppercase">
           <strong>HACKATHON Spring 2019</strong>
         </h1>
         <hr>
       </div>
       <div class="col-lg-8 mx-auto">
         <p class="text-white mb-5" style="font-weight: 700;">Exciting Prizes !!!!  Code it ... Win it!</p>
         <div id="archhacks-countdown-wrapper">
           <h4 id="archhacks-countdown-title"><b>Grand Finale</b></h4>
           <div id="archhacks-countdown" style="font-size: 1.3rem">
             <div id="countdown-days" class="countdown-section">
               <div id="countdown-days-val" class="countdown-section-val"></div><div class="countdown-divider">:</div>
               <div id="countdown-days-label" class="countdown-section-label">
                 Days
               </div>
             </div>
             <div id="countdown-hours" class="countdown-section">
               <div id="countdown-hours-val" class="countdown-section-val"></div><div class="countdown-divider">:</div>
               <div id="countdown-hours-label" class="countdown-section-label">
                 Hrs
               </div>
             </div>
             <div id="countdown-minutes" class="countdown-section">
               <div id="countdown-minutes-val" class="countdown-section-val"></div><div class="countdown-divider">:</div>
               <div id="countdown-minutes-label" class="countdown-section-label">
                 Mins
               </div>
             </div>
             <div id="countdown-seconds" class="countdown-section">
               <div id="countdown-seconds-val" class="countdown-section-val"></div>
               <div id="countdown-seconds-label" class="countdown-section-label">
                 Secs
               </div>
             </div>
           </div>
         </div>
         &nbsp; &nbsp; &nbsp;<a class="btn btn-primary btn-xl js-scroll-trigger" href="https://forms.gle/yTw2wf9Q7Ub4iSL86" target="_blank">Register your Team</a>
       </div>
     </div>
   </div>
   </div>
 </header> -->

 <section class="bg-primary" id="about">
   <div class="container">
     <div class="row" style="height: auto; width: 100%;" align="center">
       <div class="col">
       <h1 class="section-heading text-white" >UMKC Virtual Hack-A-Roo Spring 2020</h1>
       <br/>
     </div>
     </div>
     <div class="row">
       <div class="col">
     <img src="img/spring2020/UMKC_Mask.JPG" class="rounded" width="260"  align="right"> <!--width="260" height="390" -->
      </div>
   <div class="col" style="height: auto; width: 100%;">
       <h3 class="section-heading text-white" align="center"> First Prize  : $1000</h3>
       <h3 class="section-heading text-white" align="center"> Second Prize : $700</h3>
       <h3 class="section-heading text-white" align="center"> Third Prize  : $500</h3>
       <h3 class="section-heading text-white" align="center"> Free T-Shirts and Masks for all Participants!</h3>
   </div>
   <div class="col">
     <img src="img/spring2020/UMKC_T-Shirt.JPG" class="rounded"  width="260" align="left"> <!--width="260" height="390" -->
   </div></div>
   <div id="iframe_parent" class="row">
       <div class="col-lg-8 mx-auto text-center" style="height: auto; width: 100%;">
         <h2 class="section-heading text-white">You've got what it takes?</h2>
 <!--         <hr class="light my-4"> -->
         <p class="text-faded mb-4">Calling all great students! UMKC is challenging you to show us how you can transform robotics, industrial IoT, healthcare, security, or any other industry with a powerful solutions. We want to see your creation!</p>
         <iframe class="video-hackathon"  height="450" width="800" src="https://www.youtube.com/embed/videoseries?list=PLYouggcOkxkgJLl-mrSZjdPqhOVr_mzfT" frameborder="0" allow="autoplay; encrypted-media"></iframe>
         </br>
         <!--<a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>-->
       </div>
    </div>
   </div>
 </section>

 <section id="rules" style="background-color:#ffe8a1">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <a href target="_blank"><h2 class="section-heading">Rules</h2></a>
 <!--         <hr class="my-4"> -->
       </div>
     </div>
   </div>
   <div class="container">
     <div class="row">
       <div class="col-lg-3 col-md-6 text-center">
         <div class="service-box mt-5 mx-auto">
           <h3 class="mb-3">Eligibility</h3>
           <p class="text-info mb-0" class="r-text">You must be a current student of UMKC (hereafter referred to as participant). Participation ensures that the participant agrees unconditionally to all terms and conditions. At-least one team member must be present in Grand Finale to be qualified for final round.</p>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 text-center">
         <div class="service-box mt-5 mx-auto">
           <h3 class="mb-3">Registration Guideline</h3>
           <p class="text-info mb-0" class="r-text">You must provide Top Three Choices of your usecase.
             You can have 2 to 4 Team Members. (Single Registration per Team)
             A project will be assigned to your team according to your choices (First-come, first-served)
             Please note that the registration will open at 10 AM and close at 9 PM CST on May 26th, 2020 (Tuesday).</p><br>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 text-center">
         <div class="service-box mt-5 mx-auto">
           <h3 class="mb-3">Implementation Guideline</h3>
           <p class="text-info mb-0" class="r-text">There is no restriction on technology. You can use any technology to implement your project unless mentioned in the use case.
             Come up with a feasible and unique solution to the problem.
             Try to complete the given requirements as much as possible.
             Make a good quality YouTube video.</p>
         </div>
       </div>
       <div class="col-lg-3 col-md-6 text-center">
         <div class="service-box mt-5 mx-auto">
           <h3 class="mb-3">Judging Criteria</h3>
           <p class="text-info mb-0" class="r-text">Judgement is based on the evaluation guidelines provided by the use case providers,
             i.e, in this case an Organization or a group in an Organization. The Hackathon winners will be selected by a panel of Judges from the Industry and NSF OCEL.AI Team.</p>
         </div>
       </div>
     </div>
   </div>
 </section>
 <section id="register" style="background-color: #a64dff" align="center">
   <div class="col-lg-12 text-center">
     <h2 class="text-white mb-5">Registration Closed</h2>
     <h2 class="text-white mb-5">Submission Link</h2>

     <!-- <hr class="my-4" align="center"> -->
     <h3 class="text-info mb-0">
       <a class="btn btn-primary btn-lg" href="https://forms.gle/n8WaGNrn7L4Pm9dw9">Click to submit</a>
     </h3>
 </div>
 <br/>
   <!-- <img src="img/spring2020/QR_code_registration.png" align="center"> width="260" height="390" -->
 </section>
 <section id="eventinfo" style="background-color: antiquewhite;">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <!-- <h2 class="section-heading">Essential Info</h2> -->
         <h2 class="section-heading">UMKC Hack-a-Roo Spring 2020</h2>
         <h3>Virtual Hackathon</h3>
         <p>event at a glance</p>
 <!--         <hr class="my-4"> -->
       </div>
     </div>
   </div>

   <div class="col-md-12">
     <div class="col-md-4" style="float: left">
       <div style="border: 1px solid #ddd; padding: 20px; margin: 30px; border-radius: 5px;">
         <h3>
           <i class="fa fa-clock-o fa-fw"></i>
           Logistics
         </h3>
         <p>
           <!-- <b>72</b> Hours<br> -->
           <b>2</b> Weeks<br>
           <b>100+</b> Hackers<br>
           Top-notch mentors, knowledge sharing, and prizes
         </p>
       </div>
       <div style="border: 1px solid #ddd; padding: 20px; margin: 30px; border-radius: 5px;">
         <h3>
           <i class="fa fa-check fa-fw"></i>
           REGISTRATION
  <!-- Custom styles for this template -->
        </h3>
        <p>
          10:00 AM - 9:00 PM CST<br>
          Tuesday, May 26th, 2020<br>
        </p>
      </div>
      <div style="border: 1px solid #ddd; padding: 20px; margin: 30px; border-radius: 5px;">
        <h3>
          <i class="fa fa-check fa-fw"></i>
          SUBMISSION
        </h3>
        <p>
          11:59 PM CST<br>
          Friday, June 5th, 2020 <br>
        </p>
      </div>
      <div style="border: 1px solid #ddd; padding: 20px; margin: 30px; border-radius: 5px;">
        <h3>
          <i class="fa fa-facebook-square fa-fw"></i>
          Facebook
        </h3>
        <p>
          <a href="https://www.facebook.com/events/590390148259610/" class="button is-primary" target="_blank">Event page</a>
        </p>
      </div>
    </div>
    <div class="col-md-8" style="width: 60%; display: inline-block; border: 1px solid #ddd; padding: 20px; margin: 20px; border-radius: 5px;">
      <div>
        <h3>
          <i class="fa fa-map-marker fa-fw"></i>
          Location
        </h3>
        <p>
          <a href="https://goo.gl/maps/tDRjokULcw62" target="_blank">University of Missouri-Kansas City</a><br>
          Kansas City, Missouri 64110
        </p>
        <br>
        <p>
          <a href="https://www.umkc.edu/maps/documents/volker_maps/UMKC-Volker_5-18-16-Flattened.pdf" class="button is-primary" target="_blank">Campus Map</a>
        </p>
        <br>
        <iframe src="https://www.google.com/maps/embed/v1/place?q=studentunion&key=AIzaSyDwHHfYT-QvMXX5B9Ten6h02vJ49QI-6uI" frameborder="0" style="border:0;width:90%;max-width:700px;min-height:400px;" allowfullscreen=""></iframe>
        <br>
      </div>
    </div>
  </div>
</section>

<section class="bg-success" id="submission" >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Submission</h2>
<!--         <hr class="my-4"> -->
      </div>
    </div>
    <div class="row">
      <h2>Guidelines</h2>
    </div>
    <div class="row">
      <ul class="text-white mb-5" >
        <li>
          Presentation link: Prepare a 5 slide ppt for your project. Post your ppt to public site (e.g., google drive) making available to the public.
        </li>
        <li>
          Youtube link: Create a 3 minute video about your project. Make sure the transitions are smooth and use a good mic to record the audio. Upload your video to Youtube and make it viewable.
        </li>
        <li>
          Repository link: Participants source code must be submitted in the form of a subversion repository url in Github. src folder: project files
        </li>
        <li>
          Model link: Participants model generated for the usecase must be submitted.
          Save the model for example,<u> <a href="https://machinelearningmastery.com/save-load-keras-deep-learning-models/" style="color:white;">keras (model.h5)</a></u>,<u><a href="https://www.tensorflow.org/guide/keras/save_and_serialize" style="color:white;">tensorflow model(filename.pb)</a></u>
          In case there is no model built, then indicate it and provide API links.
        </li>
        <li>
          Data link: Participants data used for their model must be submitted, either the original data source or modified version.
        </li>
        <li>
          ReadMe file: brief description and URL of the deployed application (if globally hosted)
        </li>
        <li>
          If android application, create a folder called “apk” and put the .apk file inside the folder.
        </li>
        <li>
          The repository submitted must be public and viewable for the reviewers.
        </li>
        <li>
          The content the participant submits does not contain any viruses, Trojan horses, worms, or other disabling devices or harmful code.
        </li>
        <li>
          Participants shall attribute all the content that is copyrighted, protected by trade secret, or otherwise subject to third-party intellectual property rights or other proprietary rights, including privacy and publicity rights.
        </li>
        <li>
          The participant will not publish falsehoods or misrepresentations that could damage the hackathon, its sponsors, or any third party
        </li>
        <li>
          The participant will not submit content that is unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, encourages criminal activity, gives rise to civil liability, or is otherwise inappropriate or destructive to the hackathon's or sponsors' brand image or goodwill.
        </li>
      </ul>
    </div>
    <!--SUBMISSION BLOCK-->
    <!-- <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <form action="https://forms.gle/uAcEETpPXQVMeGMU6">
        <button class="btn btn-light btn-xl js-scroll-trigger">Submit</button><br><br>
          <img src="img/projectsubmissionQRcodeFall2019.png" width="260" height="390"></form></div>
      <div class="col-lg-12 text-center">
        <h4 class="text-white"><br>Scan code or click submit for project submission</h4>

      </div>

    </div> -->
  </div>
</section>
<!--<section  id="quiz" style="background-color: #f4416b;" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Quiz</h2>
              <p>(This link will be made available at 6:30PM)</p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
        <h4 class="section-heading"><br>Scan code or click link to open Quiz</h4><br>
        <img src="img/QuizSpring19.png" width="260" height="390"><br><br>
   <form action="https://forms.gle/LcgbmsUakwrXVbCLA">
            <button class="btn btn-light btn-xl js-scroll-trigger">Click to open quiz</button>
        </form>
      </div>
  </div>
</section>

<section  id="Audience Choice Award" style="background-color: bisque;" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Audience Choice Award</h2>
              <p>This link will be made available at 6:30PM</p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
        <h4 class="section-heading"><br>Scan code or click link to Vote for your Audience Choice Award</h4><br>
        <img src="img/AudienceChoice.png" width="260" height="390"><br><br>
   <form action="https://forms.gle/jdWbSm1YesTE32Nq9">
            <button class="btn btn-light btn-xl js-scroll-trigger">Click to open Audience Choice Poll</button>
        </form>
      </div>
  </div>
</section>
-->
<section id="judges" style="background-color: #c69500;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Judges Spring 2020</h2>
<!--         <hr class="my-4"> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Vijay Walunj" class="user-photo photo_image image-replacement" src="img/judges/1.png">
        </figure>
        <div>
          <p>
            <strong>Vijay Walunj</strong><br>
            <i>H&R Block</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Srini Bhagavan" class="user-photo photo_image image-replacement" src="img/judges/5.png">
        </figure>
        <div>
          <p>
            <strong>Srini Bhagavan</strong><br>
            <i>IBM</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Paresh Kasare" class="user-photo photo_image image-replacement" src="img/judges/6.jpg">
        </figure>
        <div>
          <p>
            <strong>Paresh Kasare</strong><br>
            <i>CBOE & Bats</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Katy Howard" class="user-photo photo_image image-replacement" src="img/judges/10.jpg">
        </figure>
        <div>
          <p>
            <strong>Katy Howard</strong><br>
            <i>DST</i>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Raj Anantharaman" class="user-photo photo_image image-replacement" src="img/judges/14.png" >
        </figure>
        <div>
          <p>
            <strong>Raj Anantharaman</strong><br>
            <i>CraNNium Labs</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
       <figure>
         <img alt="Malathy Krishnan" class="user-photo photo_image image-replacement" src="img/judges/malathy.jpg">
       </figure>
       <div>
         <p>
           <strong>Malathy Krishnan</strong><br>
           <i>H&R Block</i>
         </p>
       </div>
       </div>
       <div class="col-md-3" style="text-align: center">
         <figure>
           <img alt="Todd Brees" class="user-photo photo_image image-replacement" src="img/judges/11.jpg">
         </figure>
         <div>
           <p>
             <strong>Todd Brees</strong><br>
             <i>DST</i>
           </p>
         </div>
       </div>
    </div>
    <div class="row">
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Dr. You Li" class="user-photo photo_image image-replacement" src="img\judges\ocel\y-li.jpg" width="100" height="100">
        </figure>
        <div>
          <p>
            <strong>Dr. You Li</strong><br>
            <i>Assistant Professor of Journalism
              School of Communication, Media and Theatre Arts
              Eastern Michigan University</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Dr. Yoo Jung An" class="user-photo photo_image image-replacement" src="img\judges\ocel\YooJungAn.jpg" width="100" height="100">
        </figure>
        <div>
          <p>
            <strong>Dr. Yoo Jung An</strong><br>
            <i>Assistant Professor of Computer Science
              Engineering Technologies & Computer Sciences
              Essex County College</i>
          </p>
        </div>
      </div>

      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Huan Chen, Ph.D." class="user-photo photo_image image-replacement" src="img\judges\ocel\Huan-Chen.jpg" width="100" height="100">
        </figure>
        <div>
          <p>
            <strong>Huan Chen, Ph.D.</strong><br>
            <i>Associate Professor
              Department of Advertising
              University of Florida</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Dr. Ye Wang" class="user-photo photo_image image-replacement" src="img\judges\ocel\Wang-Ye.png" width="100" height="100">
        </figure>
        <div>
          <p>
            <strong>Dr. Ye Wang</strong><br>
            <i>
              Associate Professor
              Department of Communication Studies
              UMKC</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Alexis Petri" class="user-photo photo_image image-replacement" src="img\judges\ocel\Petri-Alexis.jpg" width="100" height="100">
        </figure>
        <div>
          <p>
            <strong>Alexis Petri</strong><br>
            <i>
              Associate Research Professor
              Department of Psychology
              UMKC</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Dr.Yugyung Lee" class="user-photo photo_image image-replacement" src="img\judges\ocel\YLee.jpg" width="100" height="100">
        </figure>
        <div>
          <p>
            <strong>Yugyung Lee</strong><br>
            <i>
              Professor
              School of Computing and Engineering
              UMKC</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Brian Boots" class="user-photo photo_image image-replacement" src="img\judges\ocel\boots-brian.jpg" width="100" height="100">
        </figure>
        <div>
          <p>
            <strong>Brian Boots</strong><br>
            <i>
              Managing Director for Venture Creation
              Bloch School
              UMKC</i>
          </p>
        </div>
      </div>
    </div>
     <!-- <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Bianca Fennix" class="user-photo photo_image image-replacement" src="img/judges/Bfennix profile photo.jpg">
        </figure>
        <div>
          <p>
            <strong>Bianca Fennix</strong><br>
            <i>E-scholar</i>
          </p>
        </div>
      </div>

      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Mohamud Abdi" class="user-photo photo_image image-replacement" src="img/judges/Mohamud Abdi.jpg">
        </figure>
        <div>
          <p>
            <strong>Mohamud Abdi</strong><br>
            <i>E-scholar</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Montrez Jones" class="user-photo photo_image image-replacement" src="img/judges/Trez.PNG">
        </figure>
        <div>
          <p>
            <strong>Montrez Jones </strong><br>
            <i>E-scholar</i>
          </p>
        </div>
      </div>
    </div> -->

<!--       <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Mathew Denney" class="user-photo photo_image image-replacement" src="img/judges/7.png">
        </figure>
        <div>
          <p>
            <strong>Mathew Denney</strong><br>
            <i>CBOE & Bats</i>
          </p>
        </div>
      </div> -->
      <!-- <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Alexis Petri" class="user-photo photo_image image-replacement" src="img/judges/8.jpg">
        </figure>
        <div>
          <p>
            <strong>Alexis Petri</strong><br>
            <i>UMKC Propel</i>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Buddy Pennington" class="user-photo photo_image image-replacement" src="img/judges/9.jpg">
        </figure>
        <div>
          <p>
            <strong>Buddy Pennington</strong><br>
            <i>UMKC Propel</i>
          </p>
        </div>
      </div>-->

    <!--  <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Kyle Harper" class="user-photo photo_image image-replacement" src="img/judges/12.jpg">
        </figure>
        <div>
          <p>
            <strong>Kyle Harper</strong><br>
            <i>Cerner</i>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Manikanta Maddula" class="user-photo photo_image image-replacement" src="img/judges/13.jpg">
        </figure>
        <div>
          <p>
            <strong>Manikanta Maddula</strong><br>
            <i>Cerner</i>
          </p>
        </div>
      </div>-->

      <!-- <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Steve Penrod" class="user-photo photo_image image-replacement" src="img/judges/stevepenrod.png">
        </figure>
        <div>
          <p>
            <strong>Steve Penrod</strong><br>
            <i>Mycroft AI</i>
          </p>
        </div>
      </div> -->
       <!-- <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Ankush Chander" class="user-photo photo_image image-replacement" src="img/judges/ankushchander.jpeg">
        </figure>
        <div>
          <p>
            <strong>Ankush Chander</strong><br>
            <i>Raxter AI</i>
          </p>
        </div> -->


      <!-- <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Mohamoud Ali" class="user-photo photo_image image-replacement" src="img/judges/15.png">
        </figure>
        <div>
          <p>
            <strong>Mohamoud Ali</strong><br>
            <i>VinSolutions</i>
          </p>
        </div>
      </div>-->

  </div>
</section>

<section class="text-white" id="sponsors" style="background-color: #9cc6f9;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="color: black">Sponsors Spring 2020</h2>
<!--         <hr class="my-4"> -->
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <img src="img/ListOfSponsorsSpring19.png" style="height: 100%; width: 80%;"/>
  </div>

</section>

<section class="bg-light" id="Schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Schedule</h2>
        <!-- <p> To be updated </p> -->
       <p>Take part in the Challenge, submit your project and win valuable prizes!</p>
        <!-- <hr class="my-4"> -->
      <!-- </div>
    </div> -->
    <div class="row" style="color: #f05f40">
      <div class="col-md-4" >
        <h4>Date</h4>
      </div>
      <div class="col-md-4">
        <h4> Event</h4>
      </div>
      <div class="col-md-4">
        <h4> Location</h4>
      </div>

    </div>
    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
         <h5 class="ft">26th May 2020</h5>
      </div>
      <div class="col-md-4">
         <h5 class="ft">REGISTRATION</h5>
      </div>
      <div class="col-md-4">
         <h5 class="ft"><a href="https://forms.gle/ZAro1gLaRyADbTS38">Registration Link </a> </h5>
      </div>
    </div>

   <!-- <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
        <h5 class="ft">26th May 2020 @ 9:00 PM</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft">REGISTRATION CLOSES</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"><a href="https://forms.gle/ZAro1gLaRyADbTS38">Registration Link </a></h5>
      </div>
    </div> -->

    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
        <h5 class="ft">27th May 2020 @ 10:00 AM to 11:00 AM</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft">ZOOM Q&A Session</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft">Link will be emailed to Participants</h5>
      </div>
    </div>


    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
        <h5 class="ft">26th May 2020 to 5th June 2020</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft">CODING TIME</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft">ONLINE</h5>
      </div>
    </div>


    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
        <h5 class="ft">5th June 2020 by 11:59 PM</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft">SUBMISSION</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"><a href="https://forms.gle/n8WaGNrn7L4Pm9dw9">Submission Link</a></h5>
      </div>
    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
        <h5 class="ft">19th June 2020 @ 9:00 AM to 10:30 AM</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft">VIRTUAL GRAND FINALE</h5>
      </div>
     <div class="col-md-4">
        <h5 class="ft">Link will be emailed to Participants & Patrons </h5>
      </div>
    </div>

    <!-- <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
        <h5 class="ft"> 18th NOV @ 5:30 PM</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> GRAND FINALE</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> Pierson Auditorium</h5>
      </div>

    </div>

    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
         <h5 class="ft"> 18th NOV @ 7:00 PM</h5>
      </div>
      <div class="col-md-4">
         <h5 class="ft"> NETWORKING</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> Pierson Auditorium</h5>
      </div>
    </div> -->

    <hr class="my-hr">
  </div>

</section>

<section class="bg-dark text-white" id="usecases">
  <div class="row" style="margin: 0px;">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Usecases - Spring 2020</h2>
       <h4 class="section-heading">Click on the usecase for more details!</h2>

<!--       <hr class="my-4"> -->
    </div>
  </div>
<!--   <div class="row" style="margin-left: 100px; margin-bottom: 10px ">
    <div class="col">
      <a target="_blank"><button class="btn-head">Home AI</button></a>
    </div>
    <div class="col">
      <a target="_blank"><button class="btn-head">Health AI</button></a>
    </div>
    <div class="col">
      <a target="_blank"><button class="btn-head">Business AI</button></a>
    </div>
  </div> -->

  <div class="row" style="margin-left: 100px; margin-bottom: 10px ">
<!--USECASES-->
    <div class="col-md-4" >
      <a target="_blank" href="https://umkc.box.com/s/15m204u3alg7laf20fyhxqb5p8m61bj6"><button class="btn-sty">OCEL- CORRELATION KC</button>
      </a>
    </div>
    <div class="col-md-4">
      <a target="_blank" href="https://umkc.box.com/s/mlvvl8eodba0ilporbpyyuy7q4ikyoar"><button class="btn-sty">OCEL - EDUKC</button>
      </a>
    </div>


    <div class="col-md-4">
      <a target="_blank" href="https://umkc.box.com/s/6c11j082uw38k7mh6aa77j2xgm88yxea"><button class="btn-sty">OCEL - Fairness-AI</button></a>
    </div>
  </div>


  <div class="row" style="margin-left: 100px; margin-bottom: 10px ">
    <div class="col-md-4" >
      <a target="_blank" href="https://umkc.box.com/s/1ui0gtxtmqo3rd4xhbiagud3b1ljuyet"><button class="btn-sty">OCEL - Roads In Michigan</button>
      </a>
    </div>

    <div class="col-md-4">
      <a target="_blank" href="https://umkc.box.com/s/ktgz4bxelznjhr8uvyook4xf5nwfuctn"><button class="btn-sty">OCEL - UsedCars</button>
      </a>
    </div>
    <div class="col-md-4"/>


    <!-- <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/4no1mk5uxex7f41c287f0yvtjrux2on1"><button class="btn-sty">HRB3 - Tourist Guide</button></a>
    </div> -->
  </div>

<!--
  <div class="row" style="margin-left: 100px; margin-bottom: 10px ">

    <div class="col" >
      <a target="_blank" href="https://umkc.box.com/s/as4s4l5v0yg4a4j9ximj61l8cafntmb3"><button class="btn-sty">IBM1 - Blockchain</button>
      </a>
    </div>
    <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/26fspyjn5vo9pscvx9gewtvgx9snzjbn"><button class="btn-sty">IBM2 - Config Prediction</button>
      </a>
    </div>

    <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/5ba86viyuwyv4jf71f98d4iqupbdgwrn"><button class="btn-sty">BLO-CampusConnectionDeck</button></a>
    </div>
</div>

<div class="row" style="margin-left: 100px; margin-bottom: 10px ">
    <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/pxsbikgbvobbuodgoclp22s53g7o96eq"><button class="btn-sty">IBM3 - Image Detection</button></a>
    </div>

  </div> -->
</br>
<div class="text-center">
</br>
<h4 class="section-heading">Please check the assigned Usecase for your team below. Contact Mayanka - mckw9@mail.umkc.edu for questions.</h4>
</br>
<img src="img/spring2020/Usecase Assignment.jpg" alt="Assigned Teams">
<!-- width="1200" height="600"> -->
</div>
</section>
<!--

 <section id="contact">
   <div class="container">
     <div class="row">
       <div class="col-lg-8 mx-auto text-center">
         <h2 class="section-heading">Let's Get In Touch!</h2>
         <hr class="my-4">
         <p class="mb-5">Ready to take up the challenge and start coding? That's great! In case of any queries send us an email and we will get back to you as soon as possible!</p>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-4 ml-auto text-center">
         <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
         <p>(816) 235-1000</p>
       </div>
       <div class="col-lg-4 mr-auto text-center">
         <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
         <p>
           <a href="mailto:hackaroo@mail.missouri.edu">hackaroo@mail.missouri.edu</a>
         </p>
       </div>
     </div>
   </div>
 </section>-->


<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Organizers</h2>
<!--           <hr class="my-4"> -->
        </div>
        <div class="row">
          <div class="col-md-6">
            <h5 class="font-italic">Dr. Yugyung Lee</h5>
            <h5 class="font-italic">Ahmed Albishri</h5>
            <h5 class="font-italic">Duy Ho</h5>
            <h5 class="font-italic">Gharib Gharibi</h5>
            <h5 class="font-italic">Jawad Sayed</h5>
            <h5 class="font-italic">Mayanka ChandraShekar</h5>
            <h5 class="font-italic">Muhammed Zubair Khan</h5>
            <h5 class="font-italic">Saeed Al-Qarni</h5>
          </div>
          <div class="col-md-6">
            <h5 class="font-italic">Raj Marri</h5>
            <h5 class="font-italic">Rakan Alanazi</h5>
            <h5 class="font-italic">Saria Goudzarvand</h5>
            <h5 class="font-italic">Shiva Kumar</h5>
            <h5 class="font-italic">Vijaya Kumari </h5>
            <h5 class="font-italic">Syed Khushal Shah</h5>
            <h5 class="font-italic">Zeenat Tariq</h5>
            <h5 class="font-italic">Raju Nekadi</h5>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="col-lg-12 mx-auto text-center">
          <h2 class="section-heading">Let's Get In Touch!</h2>
<!--           <hr class="my-4"> -->
          <p class="mb-5">Ready to take up the challenge and start coding? That's great! In case of any queries send us an email and we will get back to you as soon as possible!</p>
        </div>
        <div class="row">

          <div class="col-lg-12 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:hackaroo@mail.missouri.edu">hackaroo@mail.missouri.edu</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submit your Code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container_child signup_form" ng-model="userdata">
          <form action="#">
            <div class="form-group">
              <label for="name" style="color : black;  font-style: italic;">Team Name</label>
              <input class="form-control" type="text" name="username" id="name" placeholder="" required />
            </div>
            <div class="form-group">
              <label for="ppt" style="color : black;  font-style: italic;">URL for PPT</label>
              <input class="form-control" type="text" name="ppt" id="ppt" placeholder="" required />
            </div>
            <div class="form-group">
              <label for="github" style="color : black;  font-style: italic;">URL for Github link</label>
              <input class="form-control" type="text" name="password" id="github" placeholder="" required />
            </div>
            <div class="form-group">
              <label for="youtube" style="color : black;  font-style: italic;">URL for youtube link</label>
              <input class="form-control" type="text" name="passwordRepeat" id="youtube"  placeholder="" required />
            </div>
            <div class="form-group">
              <label for="email" style="color : black;  font-style: italic;">Email</label>
              <input class="form-control" type="email" name="passwordRepeat" id="email"  placeholder="" required />
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="insert()" style="cursor: pointer">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor: pointer">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/angular.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/creative.js"></script>
<script src="js/app.js"></script>
<script src="js/countdown.js"></script>
</body>

</html>
