<!DOCTYPE html>
<html lang="en" ng-app="hack" >

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/ico" href="img/logo.png">

  <title>UMKC Hackathon Fall 2019</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
        </h3>
        <p>
          5:30PM - 7:00PM<br>
          Thursday, Nov 7th, 2019<br>
        </p>
      </div>
      <div style="border: 1px solid #ddd; padding: 20px; margin: 30px; border-radius: 5px;">
        <h3>
          <i class="fa fa-check fa-fw"></i>
          Grand Finale
        </h3>
        <p>
          5:30PM - 7:00PM<br>
          Monday, Nov 18th, 2019<br>
        </p>
      </div>
      <div style="border: 1px solid #ddd; padding: 20px; margin: 30px; border-radius: 5px;">
        <h3>
          <i class="fa fa-facebook-square fa-fw"></i>
          Facebook
        </h3>
        <p>
          <a href="https://facebook.com/events/2447017298875485/" class="button is-primary" target="_blank">Event page</a>
        </p>
      </div>
    </div>
    <div class="col-md-8" style="width: 60%; display: inline-block; border: 1px solid #ddd; padding: 20px; margin: 20px; border-radius: 5px;">
      <div>
        <h3>
          <i class="fa fa-map-marker fa-fw"></i>
          Location
        </h3>
        <p>
          <a href="https://goo.gl/maps/tDRjokULcw62" target="_blank">University of Missouri-Kansas City</a><br>
          Kansas City, Missouri 64110
        </p>
        <br>
        <p>
          <a href="https://www.umkc.edu/maps/documents/volker_maps/UMKC-Volker_5-18-16-Flattened.pdf" class="button is-primary" target="_blank">Campus Map</a>
        </p>
        <br>
        <iframe src="https://www.google.com/maps/embed/v1/place?q=studentunion&key=AIzaSyDwHHfYT-QvMXX5B9Ten6h02vJ49QI-6uI" frameborder="0" style="border:0;width:90%;max-width:700px;min-height:400px;" allowfullscreen=""></iframe>
        <br>
      </div>
    </div>
  </div>
</section>

<section class="bg-success" id="submission" >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Submission</h2>
<!--         <hr class="my-4"> -->
      </div>
    </div>
    <div class="row">
      <h2>Guidelines</h2>
    </div>
    <div class="row">
      <ul class="text-white mb-5" >
        <li>
          Presentation link: Prepare a 5 slide ppt for your project. Post your ppt to public site (e.g., google drive) making available to the public.
        </li>
        <li>
          Youtube link: Create a 3 minute video about your project. Make sure the transitions are smooth and use a good mic to record the audio. Upload your video to Youtube and make it viewable.
        </li>
        <li>
          Repository link: Participants source code must be submitted in the form of a subversion repository url in Github. src folder: project files
        </li>
        <li>
          ReadMe file: brief description and URL of the deployed application (if globally hosted)
        </li>
        <li>
          If android application, create a folder called “apk” and put the .apk file inside the folder.
        </li>
        <li>
          The repository submitted must be public and viewable for the reviewers.
        </li>
        <li>
          The content the participant submits does not contain any viruses, Trojan horses, worms, or other disabling devices or harmful code.
        </li>
        <li>
          Participants shall attribute all the content that is copyrighted, protected by trade secret, or otherwise subject to third-party intellectual property rights or other proprietary rights, including privacy and publicity rights.
        </li>
        <li>
          The participant will not publish falsehoods or misrepresentations that could damage the hackathon, its sponsors, or any third party
        </li>
        <li>
          The participant will not submit content that is unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, encourages criminal activity, gives rise to civil liability, or is otherwise inappropriate or destructive to the hackathon's or sponsors' brand image or goodwill.
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <form action="https://forms.gle/BYkyufAXxdGk62ay9">
        <button class="btn btn-light btn-xl js-scroll-trigger">Submit</button><br><br>
          <img src="img/projectsubmissionQRcodeFall2019.png" width="260" height="390"></form></div>
      <div class="col-lg-12 text-center">
        <h4 class="text-white"><br>Scan code or click submit for project submission</h4>

      </div>

    </div>
  </div>
</section>
<!--<section  id="quiz" style="background-color: #f4416b;" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Quiz</h2>
              <p>(This link will be made available at 6:30PM)</p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
        <h4 class="section-heading"><br>Scan code or click link to open Quiz</h4><br>
        <img src="img/QuizSpring19.png" width="260" height="390"><br><br>
   <form action="https://forms.gle/LcgbmsUakwrXVbCLA">
            <button class="btn btn-light btn-xl js-scroll-trigger">Click to open quiz</button>
        </form>
      </div>
  </div>
</section>

<section  id="Audience Choice Award" style="background-color: bisque;" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Audience Choice Award</h2>
              <p>This link will be made available at 6:30PM</p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
        <h4 class="section-heading"><br>Scan code or click link to Vote for your Audience Choice Award</h4><br>
        <img src="img/AudienceChoice.png" width="260" height="390"><br><br>
   <form action="https://forms.gle/jdWbSm1YesTE32Nq9">
            <button class="btn btn-light btn-xl js-scroll-trigger">Click to open Audience Choice Poll</button>
        </form>
      </div>
  </div>
</section>
-->
<section id="judges" style="background-color: #c69500;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Judges Fall'19</h2>
<!--         <hr class="my-4"> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Vijay Walunj" class="user-photo photo_image image-replacement" src="img/judges/1.png">
        </figure>
        <div>
          <p>
            <strong>Vijay Walunj</strong><br>
            <i>H&R Block</i>
          </p>
        </div>
      </div>
     <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Bianca Fennix" class="user-photo photo_image image-replacement" src="img/judges/Bfennix profile photo.jpg">
        </figure>
        <div>
          <p>
            <strong>Bianca Fennix</strong><br>
            <i>E-scholar</i>
          </p>
        </div>
      </div>

      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Mohamud Abdi" class="user-photo photo_image image-replacement" src="img/judges/Mohamud Abdi.jpg">
        </figure>
        <div>
          <p>
            <strong>Mohamud Abdi</strong><br>
            <i>E-scholar</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Montrez Jones" class="user-photo photo_image image-replacement" src="img/judges/Trez.PNG">
        </figure>
        <div>
          <p>
            <strong>Montrez Jones </strong><br>
            <i>E-scholar</i>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Srini Bhagavan" class="user-photo photo_image image-replacement" src="img/judges/5.png">
        </figure>
        <div>
          <p>
            <strong>Srini Bhagavan</strong><br>
            <i>IBM</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Paresh Kasare" class="user-photo photo_image image-replacement" src="img/judges/6.jpg">
        </figure>
        <div>
          <p>
            <strong>Paresh Kasare</strong><br>
            <i>CBOE & Bats</i>
          </p>
        </div>
      </div>
<!--       <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Mathew Denney" class="user-photo photo_image image-replacement" src="img/judges/7.png">
        </figure>
        <div>
          <p>
            <strong>Mathew Denney</strong><br>
            <i>CBOE & Bats</i>
          </p>
        </div>
      </div> -->
      <!-- <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Alexis Petri" class="user-photo photo_image image-replacement" src="img/judges/8.jpg">
        </figure>
        <div>
          <p>
            <strong>Alexis Petri</strong><br>
            <i>UMKC Propel</i>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Buddy Pennington" class="user-photo photo_image image-replacement" src="img/judges/9.jpg">
        </figure>
        <div>
          <p>
            <strong>Buddy Pennington</strong><br>
            <i>UMKC Propel</i>
          </p>
        </div>
      </div>-->
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Katy Howard" class="user-photo photo_image image-replacement" src="img/judges/10.jpg">
        </figure>
        <div>
          <p>
            <strong>Katy Howard</strong><br>
            <i>DST</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Todd Brees" class="user-photo photo_image image-replacement" src="img/judges/11.jpg">
        </figure>
        <div>
          <p>
            <strong>Todd Brees</strong><br>
            <i>DST</i>
          </p>
        </div>
      </div>
    <!--  <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Kyle Harper" class="user-photo photo_image image-replacement" src="img/judges/12.jpg">
        </figure>
        <div>
          <p>
            <strong>Kyle Harper</strong><br>
            <i>Cerner</i>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Manikanta Maddula" class="user-photo photo_image image-replacement" src="img/judges/13.jpg">
        </figure>
        <div>
          <p>
            <strong>Manikanta Maddula</strong><br>
            <i>Cerner</i>
          </p>
        </div>
      </div>-->
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Raj Anantharaman" class="user-photo photo_image image-replacement" src="img/judges/14.png">
        </figure>
        <div>
          <p>
            <strong>Raj Anantharaman</strong><br>
            <i>CraNNium Labs</i>
          </p>
        </div>
      </div>
      <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Steve Penrod" class="user-photo photo_image image-replacement" src="img/judges/stevepenrod.png">
        </figure>
        <div>
          <p>
            <strong>Steve Penrod</strong><br>
            <i>Mycroft AI</i>
          </p>
        </div>
      </div>
       <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Ankush Chander" class="user-photo photo_image image-replacement" src="img/judges/ankushchander.jpeg">
        </figure>
        <div>
          <p>
            <strong>Ankush Chander</strong><br>
            <i>Raxter AI</i>
          </p>
        </div>
      </div>
      <!-- <div class="col-md-3" style="text-align: center">
        <figure>
          <img alt="Mohamoud Ali" class="user-photo photo_image image-replacement" src="img/judges/15.png">
        </figure>
        <div>
          <p>
            <strong>Mohamoud Ali</strong><br>
            <i>VinSolutions</i>
          </p>
        </div>
      </div>-->
    </div>
  </div>
</section>

<section class="text-white" id="sponsors" style="background-color: #9cc6f9;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="color: black">Sponsors Fall'19</h2>
<!--         <hr class="my-4"> -->
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <img src="img/ListOfSponsorsSpring19.png" style="height: 100%; width: 80%;"/>
  </div>

</section>

<section class="bg-light" id="Schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Schedule</h2>
        <p>Take part in the Challenge, submit your project and win valuable prizes!</p>
<!--         <hr class="my-4"> -->
      </div>
    </div>46                                                                                                        <div class="row" style="color: #f05f40">
      <div class="col-md-4" >
        <h4>Date</h4>
      </div>
      <div class="col-md-4">
        <h4> Event</h4>
      </div>
      <div class="col-md-4">
        <h4> Location</h4>
      </div>

    </div>
    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
         <h5 class="ft"> 07th Nov @ 5:30 PM</h5>
      </div>
      <div class="col-md-4">
         <h5 class="ft"> KICK OFF</h5>
      </div>
      <div class="col-md-4">
         <h5 class="ft"> Student Union 401</h5>
      </div>
    </div>

    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
        <h5 class="ft"> 07th Nov @ 7PM- 9PM</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> REGISTRATION</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> ONLINE</h5>
      </div>
    </div>

    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
        <h5 class="ft"> 8th to 10th NOV from 9AM- 6PM</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> CODING DAYS</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> Flarsheim Hall 557</h5>
      </div>
    </div>


    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
        <h5 class="ft"> 10th Nov by 11:59 PM</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> SUBMISSION</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> ONLINE</h5>
      </div>

    </div>

    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
        <h5 class="ft"> 18th NOV @ 5:30 PM</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> GRAND FINALE</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> Pierson Auditorium</h5>
      </div>

    </div>

    <hr class="my-hr">
    <div class="row">
      <div class="col-md-4" >
         <h5 class="ft"> 18th NOV @ 7:00 PM</h5>
      </div>
      <div class="col-md-4">
         <h5 class="ft"> NETWORKING</h5>
      </div>
      <div class="col-md-4">
        <h5 class="ft"> Pierson Auditorium</h5>
      </div>

    </div>

    <hr class="my-hr">
  </div>
</section>

<section class="bg-dark text-white" id="usecases">
  <div class="row" style="margin: 0px;">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Usecases - Fall'19</h2>
       <h4 class="section-heading">Select atleast three Usecases</h2>
<!--       <hr class="my-4"> -->
    </div>
  </div>
<!--   <div class="row" style="margin-left: 100px; margin-bottom: 10px ">
    <div class="col">
      <a target="_blank"><button class="btn-head">Home AI</button></a>
    </div>
    <div class="col">
      <a target="_blank"><button class="btn-head">Health AI</button></a>
    </div>
    <div class="col">
      <a target="_blank"><button class="btn-head">Business AI</button></a>
    </div>
  </div> -->

  <div class="row" style="margin-left: 100px; margin-bottom: 10px ">

    <div class="col" >
      <a target="_blank" href="https://umkc.box.com/s/4x7d8kceaxsc56fz2glw5cdisdoj2z3t"><button class="btn-sty">COM - Bearthworld</button>
      </a>
    </div>
    <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/ukboeg5zv1i7k8wwa6c03kwajzw1b6g9"><button class="btn-sty">CRL - CourtesyShuttle</button>
      </a>
    </div>


    <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/gg46llw7gye4is7ujhohw00a2sody7mb"><button class="btn-sty">ENA -FeedKC</button></a>
    </div>
  </div>


  <div class="row" style="margin-left: 100px; margin-bottom: 10px ">
    <div class="col" >
      <a target="_blank" href="https://umkc.box.com/s/iqjbgic3ek20skzpqrljd6ufppxs8clv"><button class="btn-sty">HRB1 - Account System</button>
      </a>
    </div>

    <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/vcsbutrc5yv4yp7xdm02vx28xhgh2t30"><button class="btn-sty">HRB2 - Augmented Reality</button>
      </a>
    </div>


    <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/4no1mk5uxex7f41c287f0yvtjrux2on1"><button class="btn-sty">HRB3 - Tourist Guide</button></a>
    </div>
  </div>


  <div class="row" style="margin-left: 100px; margin-bottom: 10px ">

    <div class="col" >
      <a target="_blank" href="https://umkc.box.com/s/as4s4l5v0yg4a4j9ximj61l8cafntmb3"><button class="btn-sty">IBM1 - Blockchain</button>
      </a>
    </div>
    <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/26fspyjn5vo9pscvx9gewtvgx9snzjbn"><button class="btn-sty">IBM2 - Config Prediction</button>
      </a>
    </div>

    <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/5ba86viyuwyv4jf71f98d4iqupbdgwrn"><button class="btn-sty">BLO-CampusConnectionDeck</button></a>
    </div>
</div>

<div class="row" style="margin-left: 100px; margin-bottom: 10px ">
    <div class="col">
      <a target="_blank" href="https://umkc.box.com/s/pxsbikgbvobbuodgoclp22s53g7o96eq"><button class="btn-sty">IBM3 - Image Detection</button></a>
    </div>

  </div>
  <br><br><br>
  <div class="row" style="margin-left: 100px; margin-bottom: 10px ">
   <h4 class="section-heading">Please check the assigned Usecase for your team below. Contact Mayanka - mckw9@mail.umkc.edu for questions.</h4>
<img src="img/UsecaseAssignmentFall2019.png" alt="Assigned Teams" width="1200" height="600">
<!--

</section>


 <section id="contact">
   <div class="container">
     <div class="row">
       <div class="col-lg-8 mx-auto text-center">
         <h2 class="section-heading">Let's Get In Touch!</h2>
         <hr class="my-4">
         <p class="mb-5">Ready to take up the challenge and start coding? That's great! In case of any queries send us an email and we will get back to you as soon as possible!</p>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-4 ml-auto text-center">
         <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
         <p>(816) 235-1000</p>
       </div>
       <div class="col-lg-4 mr-auto text-center">
         <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
         <p>
           <a href="mailto:hackaroo@mail.missouri.edu">hackaroo@mail.missouri.edu</a>
         </p>
       </div>
     </div>
   </div>
 </section>-->


<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Organizers</h2>
<!--           <hr class="my-4"> -->
        </div>
        <div class="row">
          <div class="col-md-6">
            <h5 class="font-italic">Dr. Yugyung Lee</h5>
            <h5 class="font-italic">Mayanka ChandraShekhar</h5>
            <h5 class="font-italic">Shiva Kumar</h5>
            <h5 class="font-italic">Vijaya Kumari </h5>
            <h5 class="font-italic">Saria Goudzarvand</h5>
            <h5 class="font-italic">Syed Khushal Shah</h5>
            <h5 class="font-italic">Zeenat Tariq</h5>
            <h5 class="font-italic">Ahmed Albishri</h5>
            <h5 class="font-italic">Muhammed Zubair Khan</h5>

          </div>
          <div class="col-md-6">
            <h5 class="font-italic">Gharib Gharibi</h5>
            <h5 class="font-italic">Raj Marri</h5>
            <h5 class="font-italic">Jawad Sayed</h5>
            <h5 class="font-italic">Duy Ho</h5>
            <h5 class="font-italic">Sirisha Rella</h5>
            <h5 class="font-italic">Rakan Alanazi</h5>

          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="col-lg-12 mx-auto text-center">
          <h2 class="section-heading">Let's Get In Touch!</h2>
<!--           <hr class="my-4"> -->
          <p class="mb-5">Ready to take up the challenge and start coding? That's great! In case of any queries send us an email and we will get back to you as soon as possible!</p>
        </div>
        <div class="row">

          <div class="col-lg-12 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:hackaroo@mail.missouri.edu">hackaroo@mail.missouri.edu</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submit your Code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container_child signup_form" ng-model="userdata">
          <form action="#">
            <div class="form-group">
              <label for="name" style="color : black;  font-style: italic;">Team Name</label>
              <input class="form-control" type="text" name="username" id="name" placeholder="" required />
            </div>
            <div class="form-group">
              <label for="ppt" style="color : black;  font-style: italic;">URL for PPT</label>
              <input class="form-control" type="text" name="ppt" id="ppt" placeholder="" required />
            </div>
            <div class="form-group">
              <label for="github" style="color : black;  font-style: italic;">URL for Github link</label>
              <input class="form-control" type="text" name="password" id="github" placeholder="" required />
            </div>
            <div class="form-group">
              <label for="youtube" style="color : black;  font-style: italic;">URL for youtube link</label>
              <input class="form-control" type="text" name="passwordRepeat" id="youtube"  placeholder="" required />
            </div>
            <div class="form-group">
              <label for="email" style="color : black;  font-style: italic;">Email</label>
              <input class="form-control" type="email" name="passwordRepeat" id="email"  placeholder="" required />
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="insert()" style="cursor: pointer">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor: pointer">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/angular.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/creative.js"></script>
<script src="js/app.js"></script>
<script src="js/countdown.js"></script>
</body>

</html>
